<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='image/dog.png') }}"/>
  <!-- leaflet css  -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-measure@3.1.0/dist/leaflet-measure.css">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
  <!--link rel="stylesheet" href="{{ url_for('static', filename='styles/map.css') }}"-->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
	<!-- Header Section -->
  <header>
    <nav>
      <ul>
        {% if show_home_link %}
	<li><a href="{{ url_for('home') }}">Home</a></li>
	{% endif %}
        {% if show_register_link %}
	<li><a href="{{ url_for('register') }}">Sign Up</a></li>
	{% endif %}
	{% if show_logout_link %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
	{% endif %}
        {% if show_login_link %}
	<li><a href="{{ url_for('login') }}">Login</a></li>
	{% endif %}
	{% if show_dashboard_link %}
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
	{% endif %}
      </ul>
    </nav>
  </header>
  <div class="content">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <!-- Content Section -->
  {% block content %}{% endblock %}
  </div>

  <!-- Footer Section -->
  <footer>
    <div class="container">
      <div class="footer-links">
        <a href="https://www.linkedin.com/in/fatai-fatola" target="_blank">LinkedIn</a>
        <a href="https://github.com/factism001/" target="_blank">GitHub</a>
      </div>
      <p>&copy; 2023 Soil Analyst. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>

