{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ user.username }}!</h2>
  <p>You are now logged in to the Soil App dashboard.</p>
  <a href="/soil-properties" class="btn btn-primary">View Soil Properties</a>
  <a href="/soil-profile/{{ user.latitude }}/{{ user.longitude }}" class="btn btn-primary">View Soil Profile</a>
  <a href="/profile" class="btn btn-primary">Edit Profile</a>
  <a href="/map" class="btn btn-primary">View Soil Properties on Map</a>
  <a href="/logout" class="btn btn-danger">Log Out</a>
{% endblock %}

