<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime location tracker</title>

    <!-- leaflet css  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-measure@3.1.0/dist/leaflet-measure.css">

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 50%;
            height: 30vh;
        }
    </style>
</head>

<body>
    <h1>leaflet-measure</h1>
    <p class="github"><a href="//github.com/ljagis/leaflet-measure">github.com/ljagis/leaflet-measure</a></p>
    <div id="map"></div>
    <div class="leaflet-control search">
        <input type="text" placeholder="Latitude, Longitude">
        <button id="search-btn">Search</button>
    </div>
    <h2><code>measurefinish</code> event data:</h2>
    <pre id="eventoutput">...</pre>

    <!-- leaflet js  -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/leaflet-measure@3.1.0/dist/leaflet-measure.js"></script>
    <script>
        (function (L, document) {
            // Map initialization 
            var map = L.map('map').setView([14.0860746, 100.608406], 6);

            //osm layer
            var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            });
            //osm.addTo(map);
            
	    var esri = L.tileLayer('//server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', { 
	      minZoom: 14, 
	      maxZoom: 18, 
	      attribution: '&copy; Esri &mdash; Sources: Esri, DigitalGlobe, Earthstar Geographics, CNES/Airbus DS, oEye, USDA FSA, USGS, Getmapping, Aerogrid, IGN, IGP, swisstopo, and the GIS User Community'
      });
      esri.addTo(map);

	    googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{ 
	      maxZoom: 20, 
	      subdomains:['mt0','mt1','mt2','mt3']
      });
            // Google Map Layer
	    googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{ 
	      maxZoom: 20, 
	      subdomains:['mt0','mt1','mt2','mt3']
      });

            var baseLayers = { 
	      "EsriMap": esri,
	      "Openstreet": osm,
	      "Satellite":googleSat, 
	      "Google Map":googleStreets
      };
      L.control.layers(baseLayers).addTo(map);

            if (!navigator.geolocation) {
                console.log("Your browser doesn't support the geolocation feature!");
            } else {
                setInterval(() => {
                    navigator.geolocation.getCurrentPosition(getPosition);
                }, 5000);
            }

            var marker, circle;

            function getPosition(position) {
                var lat = position.coords.latitude;
                var long = position.coords.longitude;
                var accuracy = position.coords.accuracy;

                if (marker) {
                    map.removeLayer(marker);
                }

                if (circle) {
                    map.removeLayer(circle);
                }

                marker = L.marker([lat, long]);
                circle = L.circle([lat, long], { radius: accuracy });

                var featureGroup = L.featureGroup([marker, circle]).addTo(map);

                map.fitBounds(featureGroup.getBounds());

                console.log("Your coordinates are: Lat: " + lat + " Long: " + long + " Accuracy: " + accuracy);
            }

            var measureControl = L.control.measure({
                primaryLengthUnit: 'kilometers',
                secondaryLengthUnit: 'meters',
                primaryAreaUnit: 'hectares',
                secondaryAreaUnit: 'sqmeters',
            });

            measureControl.addTo(map);

            var searchControl = L.control({ position: "topleft" });

            searchControl.onAdd = function () {
                var container = L.DomUtil.create("div", "leaflet-control-search");

                container.innerHTML = '<input type="text" placeholder="Latitude, Longitude">' +
                    '<button id="search-btn">Search</button>';

                L.DomEvent.disableClickPropagation(container);

                return container;
            };

            searchControl.addTo(map);
            
            map.on('measurefinish', function(evt) {
        writeResults(evt);
      });
            function writeResults(results) {
        document.getElementById('eventoutput').innerHTML = JSON.stringify(
          {
            area: results.area,
            areaDisplay: results.areaDisplay,
            lastCoord: results.lastCoord,
            length: results.length,
            lengthDisplay: results.lengthDisplay,
            pointCount: results.pointCount,
            points: results.points
          },
          null,
          2
        );
      }

            function searchCoordinates() {
                var input = document.querySelector(".leaflet-control-search input").value;
                var coordinates = input.split(",");

                if (coordinates.length === 2) {
                    var lat = parseFloat(coordinates[0]);
                    var lng = parseFloat(coordinates[1]);

                    if (!isNaN(lat) && !isNaN(lng)) {
                        map.setView([lat, lng], 16);
                    } else {
                        alert("Invalid coordinates!");
                    }
                } else {
                    alert("Invalid coordinates!");
                }
            }

            var searchButton = document.getElementById("search-btn");
            searchButton.addEventListener("click", searchCoordinates);
        })(L, document);
    </script>
</body>

</html>

