{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/soil_data.css') }}">
{% endblock %}

{% block content %}
  <h1>Soil Data</h1>
  <p><a href="{{ url_for('dashboard') }}">Back to dashboard</a></p>
  <form method="GET" action="{{ url_for('soil_data') }}">
    <div class="form-group">
            <label for="id">S/N:</label>
      <input type="text" id="id" name="id" value="{{ request.args.get('id', '') }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="timestamp">Timestamp:</label>
      <input type="text" id="timestamp" name="timestamp" value="{{ request.args.get('timestamp', '') }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="latitude">Latitude:</label>
      <input type="text" id="latitude" name="latitude" value="{{ request.args.get('latitude', '') }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="longitude">Longitude:</label>
      <input type="text" id="longitude" name="longitude" value="{{ request.args.get('longitude', '') }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="depth">Depth:</label>
      <input type="text" id="depth" name="depth" value="{{ request.args.get('depth', '') }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="property">Property:</label>
      <input type="text" id="property" name="property" value="{{ request.args.get('property', '') }}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>
  
  {% if soil_data %}
    <table class="table">
      <thead>
        <tr>
          <th>S/N</th>
	  <th>Timestamp</th>
	  <th>Latitude</th>
          <th>Longitude</th>
          <th>Depth</th>
          <th>Property</th>
	  <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for data in soil_data %}
	  <tr>
	    <td>{{ data.id }}</td>
            <td>{{ data.timestamp }}</td>
            <td>{{ data.latitude }}</td>
            <td>{{ data.longitude }}</td>
            <td>{{ data.depth }}</td>
            <td>{{ data.prop }}</td>
	    <td>{{ data.value }}</td>
            <td>
              <form method="POST" action="{{ url_for('soil_data') }}" class="delete-form" data-entry-id="{{ data.id }}">
                <input type="hidden" name="delete_data" value="{{ data.id }}">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
	<!-- JavaScript code to comfirm before delete -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var deleteForms = document.querySelectorAll('.delete-form');
    
    deleteForms.forEach(function(form) {
      form.addEventListener('submit', function(event) {
        var entryId = form.getAttribute('data-entry-id');
        var confirmDelete = confirm('Are you sure you want to delete this data?');
        
        if (!confirmDelete) {
          event.preventDefault();
        }
      });
    });
  });
</script>
      </tbody>
    </table>
  {% else %}
    <p>No soil data found.</p>
  {% endif %}
  
{% endblock %}

